h3 {
    font-family: "Times New Roman";
    font-weight: bold;
 }

 h4 {
     font-family: "Times New Roman";
 }

hr {
    width: 95%;
}

#bio-image {
    float: left; 
    margin-right: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
    width: 200px;
    height: auto;
}

#port-image {
    width: 300px;
    height: auto;
}

#port-card {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

#text-overlay {
    padding: .1px;
    margin-top: 200px;
    margin-right: -1.5px;
}

/* Medium Media Screens (768 - 992 pixels) */
@media screen and (max-width: 992px) {
#bio-image {
    width: 300px;
    height: auto;
}

/* Small Media Screens (576 - 767 pixels) */
@media screen and (max-width: 767px) {
#bio-image {
    width: 450px;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
}

#port-image{
    width:500px;
    height: auto;
    padding-left: -50px;
    padding-right: 10px;
}
}

main {
}
}

@media screen and (max-width: 641px) {

#bio-image {
    width: 500px;
    height: auto;
    padding-right: 30px;
    padding-bottom: 10px;
}
#port-image{
    padding-left: -50px;
    padding-right: 10px;
    width: 500px;
    height: auto;
}
}